.our-clasess {
    font-family: var(--primary-font);
    text-transform: capitalize;
}

.our-clasess .class-warp {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-clasess > h1 {
    font-size: var(--primary-fz);
    line-height: 42px;
    margin-bottom: 30px;

}

.our-clasess > h1 span {
    color: var(--primary-color);
}

.class-warp .class {
    background-color: var(--card-bg-color);
    /* height: 450px; */
    flex-basis: 24%;
    overflow: hidden;
}

.class-warp .img {
    height: 50%;
    transition: all .8s;
}

.class-warp img {
    width: 100%;
    height: 100%;
}

.class-warp .card-text {
    height: 40%;
    padding: 10%;
    text-align: center;
}

.class-warp .card-text h1 {
    font-size: var(--secondary-fz);
}

.class-warp .card-text h2 {
    color: var(--primary-color);
    font-size: var(--card-sec-fz);
    font-weight: 400;
    margin-top: 5px;
}

.class-warp .card-text p {
    margin-top: 13px;
    font-family: var(--secondary-font);
    font-size: var(--card-sec-fz);
    font-weight: 300;
    line-height: 25px;
}

.card-btn {
    background-color: var(--secondary-color);
    height: 10%;
    text-align: center;
    transition: all .8s;
}

.card-btn a {
    color: var(--card-bg-color);
    font-family: var(--card-sec-fz);
    font-size: var(--secondary-fz);
    font-weight: 400;
    line-height: 44px;
}

.img:hover {
    transform: scale(1.15);
}

.card-btn:hover {
    background-color: var(--primary-color);
    font-weight: 700;
}

@media (max-width: 600px) {

    .our-clasess .class-warp {
        flex-direction: column;
        justify-content: space-between;
    }

    .class-warp .class {
        margin-bottom: 20px;
    }

    .class-warp .class:last-child {
        margin-bottom: 0;
    }
    
}
